@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="Berita">
        <div class="Text">
            <h1><span class="text-otomatis"></span></h1><br>
            <p>
                Memiliki kulit wajah yang sehat, tentu menjadi idaman bagi semua orang.<br>
                Sayangnya, ada banyak hal yang tanpa disadari justru bisa merusak kulit wajah,<br>
                mulai dari faktor lingkungan hingga kebiasan buruk. Oleh karena itu,<br>
                penting bagi Anda untuk selalu merawat kulit wajah secara rutin.
            </p>

            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
            <script>
                var typed = new Typed(".text-otomatis", {
                    strings: ["Pentingnya Perawatan Wajah"],
                    typeSpeed: 100,
                    backSpeed: 100,
                    loop: true
                })
            </script>
        </div>
        
        <div class="Gambar_Berita">
            <img src="https://akcdn.detik.net.id/community/media/visual/2021/02/13/rambut-indah-maudy-ayunda-jadi-bintang-iklan-shampoofoto-instagramcommaudyayunda.jpeg?w=620&q=90" width="500" />
        </div>
    </div>
</div>

<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Salon Wanita & Pria Terpopuler di Jember</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Up To Date</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">Best Price</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Service Excellent</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>